.tabs a {
  color: #64b5f6;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: #64b5f6;
  color: white;
}

container {
  overflow-y: scroll;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #64b5f6;
  color: white;
}