nav {
  background: url(https://s3-ap-southeast-1.amazonaws.com/esquire-sg/wp-content/uploads/2020/04/16230804/money-heist-season-5-832x416.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-logo {
  font-weight: 700;
  font-size: 30px;
}

.navDiv {
  background: #64b5f6;
}

.nav-content {
  height: 210px;
}

.nav-div {
  width: 300px;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.nav-div img {
  margin-top: 0px;
  width: 180px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #64b5f6c7;
  text-align: center;
  margin: 0 auto;
  box-shadow: 2px 2px 1px #e6e6e6;
}

.profile-name {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}

.user-text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.material-icons {
  color: #ffffff !important;
}

.nav-label-icon {
  top: -9px;
  position: relative;
  background: red;
  padding: 5px;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

.dropdown-content {
  margin: 0;
  display: none;
  min-width: 350px;
  max-height: 320px;
  margin-left: -1px;
  overflow-y: scroll;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.title {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal;
}

.isRead {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal;
}

.unread {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: bold;
}

.time {
  margin-bottom: 10px !important;
  font-style: italic;
}

.text {
  text-align: center;
}

.material-icons {
  color: #64b5f6!important;
  cursor: pointer;
}

.secondary-content {
  margin-top: -5px !important;
}

.markAll {
  color: #ffffff;
  background: #64b5f6!important;
}

li.dropdown-button {
  margin-left: 20px !important;
}
