<app-toolbar></app-toolbar>

<div class="container-fluid" style="margin-top: 30px">
  <div class="row">
    <div class="col s12 l1">

    </div>
    <div class="col s12 m4 l3" style="box-shadow: 10px 10px 5px #aaaaaa; background-color: #f3f1f1; border-radius: 3px; padding: 10px; margin-right: 3%;">
        <app-side></app-side>
    </div>

    <div class="col s12 m7 l7">
      <ul class="collection col s12 m10" *ngIf="notifications.length > 0" style="border: 5px solid #64b5f6!important;" >
        <li class="collection-item avatar" *ngFor="let data of notifications">
          <img class="circle" src="http://res.cloudinary.com/duojkrgue/image/upload/v{{data.senderId.picVersion}}/{{data.senderId.picId}}"
            alt="">
          <span class="title">{{data.message}}</span>
          <a class="secondary-content">
            <i *ngIf="!data.read" class="material-icons">brightness_1</i>
            <i *ngIf="data.read" class="material-icons">panorama_fish_eye</i>
          </a>
          <p class="time">{{TimeFromNow(data.created)}}</p>
          <div>
            <i class="material-icons" (click)="MarkNotication(data)" [ngClass]="data.read ? 'disabled': 'notDisbled'">
              check
            </i>
            <i class="material-icons" (click)="DeleteNotification(data)">
              delete_forever
            </i>
          </div>
        </li>
      </ul>
      <div class="row" *ngIf="notifications.length <= 0">
        <h3 class="text">You have no notification</h3>
      </div>
    </div>
  </div>